/node_modules
/public/hot
/public/img/*
!/public/img/back.jpg
!/public/img/new-background.jpg
!/public/img/new-background.png
!/public/img/hepe.png
!/public/img/mayames.png
!/public/img/blank.png
!/public/img/logo.png
!/public/img/slide-*.png
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Database dumps for docker (large - keep out of git)
/docker/db-init/*.sql
