/* a.sidebar-brand,
.sidebar-content,
.sidebar-user,
.sidebar-nav {
    background: transparent !important;
}

nav#sidebar {
    background: #222222;
}

.sidebar-user {
    color: #fff !important;
}

ul.sidebar-nav a {
    color: #fff;
}

ul.sidebar-nav i {
    color: #c6262f !important;
}

.wrapper:before {
    background: transparent;
}

nav.navbar.navbar-expand.navbar-theme {
    background: #c6262f !important;
}

h1.header-title {
    color: #000;
}

ol.breadcrumb li {
    color: black !important;
}

ol.breadcrumb li a {
    color: #c6262f;
}

.splash .splash-icon {
    background: #222222 !important;
}

a.sidebar-link {
    background: transparent !important;
    color: #fff !important;
}

button.btn.btn-primary.add {
    background: #222;
    border: 0px;
}

.modal-footer .btn-secondary {
    background: #000;
    border: 0px;
}

.modal-footer .btn-primary {
    background: #c6262f;
    border: 0px;
}

.sidebar-user {
    margin: 10px;
    border-radius: 10px;
    background: #383838 !important;
} */